/* ------- FONDO IZQUIERDO ------*/
html body {    
    font-family: 'Noto Sans', sans-serif;
    display: flex;             
    background-image: url(/images/fondo2.png);
    height: 100vmax;
       

    .fondo{
        background-color: rgba(255, 255, 255, 0.247);   
        backdrop-filter: blur(10px);
        box-shadow: $sombra;
        width: 90%;
        height: 630px;                
        margin: 20px auto;
        border-radius: 20px;          
    }

}



/*----------FORMULARIO----------*/
.formularioCompleto {
    padding: 0 30px;
    margin: 250px 0;
}


/*----------TARJETA FRENTE/ REVERSO----------*/
.tarjetas {
    position: $posicion;

    img {
        box-shadow: $sombra;
        width: 220px;
    }


    /*----------TARJETA FRENTE----------*/
    .tarjetaFrente {
        position: $posicion;
        width: 26%;
        top: 140px;
        left: 135px;

        /*----------TARJETA FRENTE TEXTOS----------*/

        h1 {
            font-size: $textoPhone - 1px;
            @include colorPosicion;
            top: 205px;
            left:145px;
            letter-spacing: $espacioTexto
        }

        span {

            font-size: $textoPhone;
            @include colorPosicion;
            top: $alturaPhone;
            left: 145px;

        }

        .mesDeTarjeta {
            font-size: $textoPhone;
            @include colorPosicion;
            top: $alturaPhone;
            left: 285px;
        }

        .anoDeTarjeta {
            font-size: $textoPhone;
            @include colorPosicion;
            top: $alturaPhone;
            left: 318px;
        }

        .linea {
            font-size: $textoPhone;
            @include colorPosicion;
            top: $alturaPhone - 1px;
            left: 307px;
        }

        /*----------TARJETA FRENTE ICONO----------*/
        .iconoTarjeta {
            width: 7%;
            position: $posicion;
            top: 150px;
            left: 145px;
        }

    }


    /*----------TARJETA REVERSO----------*/
    .tarjetaReverso {
        position: $posicion;
        width: 26%;
        top: 40px;
        left: 35px;

        /*----------TARJETA REVERSO TEXTOS----------*/
        .cvcTarjeta {
            font-size: $textoPhone;
            @include colorPosicion;
            top: 90px;
            left: 200px;
            letter-spacing: $espacioTexto;

        }

    }

}

/*----------FORMULARIO INCOMPLETO----------*/
.faltaAno,
.faltaCvc,
.faltaMes,
.faltaNumero,
.faltaNombre {
    font-size: $textoPhone - 1px;
    @include formularioIncompleto();
}