/*--- TABLET*/
/*--- PHONE*/
/*----------------------------------------------------------------- DESKTOP*/
html body {
  font-family: "Noto Sans", sans-serif;
  display: flex;
  background-image: url(/images/fondo2.png);
  background-size: cover;
}
html body .fondo {
  background-color: rgba(255, 255, 255, 0.247);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  box-shadow: 17px 18px 60px -35px rgb(0, 0, 0);
  width: 920px;
  height: 500px;
  margin: 55px auto;
  border-radius: 20px;
}

/*----------FORMULARIO----------*/
.formularioCompleto {
  position: fixed;
  margin: 11% 55%;
}
.formularioCompleto label {
  font-weight: 600;
  font-size: 14px;
  color: white;
}
.formularioCompleto input,
.formularioCompleto .mes,
.formularioCompleto .ano {
  background-color: rgba(255, 255, 255, 0.178);
  font-weight: 600;
  color: white;
}
.formularioCompleto input::-moz-placeholder {
  color: white;
}
.formularioCompleto input:-ms-input-placeholder {
  color: white;
}
.formularioCompleto input::placeholder {
  color: white;
}
.formularioCompleto .espacioformulario {
  margin: 15px 0 5px 0;
}
.formularioCompleto .boton {
  margin: 10px 0;
}
.formularioCompleto .boton buttom {
  background-color: #1c1c1c;
  border: none;
}

/*----------TARJETA FRENTE/ REVERSO----------*/
.tarjetas {
  position: fixed;
  /*----------TARJETA FRENTE----------*/
  /*----------TARJETA REVERSO----------*/
}
.tarjetas img {
  box-shadow: 17px 18px 60px -35px rgb(0, 0, 0);
  width: 332px;
}
.tarjetas .tarjetaFrente {
  position: fixed;
  width: 26%;
  top: 110px;
  left: 255px;
  /*----------TARJETA FRENTE TEXTOS----------*/
  /*----------TARJETA FRENTE ICONO----------*/
}
.tarjetas .tarjetaFrente h1 {
  font-weight: 600;
  font-size: 20px;
  color: white;
  position: fixed;
  top: 210px;
  left: 275px;
  letter-spacing: 2px;
}
.tarjetas .tarjetaFrente span {
  font-weight: 600;
  font-size: 18px;
  color: white;
  position: fixed;
  top: 245px;
  left: 275px;
}
.tarjetas .tarjetaFrente .mesDeTarjeta {
  font-weight: 600;
  font-size: 18px;
  color: white;
  position: fixed;
  top: 245px;
  left: 504px;
}
.tarjetas .tarjetaFrente .anoDeTarjeta {
  font-weight: 600;
  font-size: 18px;
  color: white;
  position: fixed;
  top: 245px;
  left: 540px;
}
.tarjetas .tarjetaFrente .linea {
  font-weight: 600;
  font-size: 18px;
  color: white;
  position: fixed;
  top: 245px;
  left: 530px;
}
.tarjetas .tarjetaFrente .iconoTarjeta {
  width: 3%;
  position: fixed;
  top: 125px;
  left: 275px;
}
.tarjetas .tarjetaReverso {
  position: fixed;
  width: 26%;
  top: 310px;
  left: 305px;
  /*----------TARJETA REVERSO TEXTOS----------*/
}
.tarjetas .tarjetaReverso .cvcTarjeta {
  font-weight: 600;
  font-size: 18px;
  color: white;
  position: fixed;
  top: 386px;
  left: 560px;
  letter-spacing: 2px;
}

/*----------OCULTA FORMULARIO----------*/
.oculto {
  display: none;
  position: fixed;
  top: 33%;
}
.oculto h2 {
  color: white;
}

/*----------FORMULARIO INCOMPLETO----------*/
.faltaAno,
.faltaCvc,
.faltaMes,
.faltaNumero,
.faltaNombre {
  font-size: 13px;
  font-weight: bold;
  color: red;
  padding: 0%;
  margin: 0%;
  position: fixed;
}

/*----------------------------------------------------------------- TABLET*/
@media (min-width: 427px) and (max-width: 768px) {
  /*----------FORMULARIO----------*/
  .formularioCompleto {
    padding: 0%;
    margin: 130px 200px;
    font-size: 16px;
  }
  /*----------TARJETA FRENTE/ REVERSO----------*/
  .tarjetas {
    position: fixed;
    /*----------TARJETA FRENTE----------*/
    /*----------TARJETA REVERSO----------*/
  }
  .tarjetas img {
    box-shadow: 17px 18px 60px -35px rgb(0, 0, 0);
    width: 300px;
  }
  .tarjetas .tarjetaFrente {
    position: fixed;
    width: 26%;
    top: 140px;
    left: 30px;
    /*----------TARJETA FRENTE TEXTOS----------*/
    /*----------TARJETA FRENTE ICONO----------*/
  }
  .tarjetas .tarjetaFrente h1 {
    font-size: 18px;
    color: white;
    position: fixed;
    top: 240px;
    left: 40px;
    letter-spacing: 2px;
  }
  .tarjetas .tarjetaFrente span {
    font-size: 16px;
    color: white;
    position: fixed;
    top: 270px;
    left: 40px;
  }
  .tarjetas .tarjetaFrente .mesDeTarjeta {
    font-size: 16px;
    color: white;
    position: fixed;
    top: 270px;
    left: 257px;
  }
  .tarjetas .tarjetaFrente .anoDeTarjeta {
    font-size: 16px;
    color: white;
    position: fixed;
    top: 270px;
    left: 290px;
  }
  .tarjetas .tarjetaFrente .linea {
    font-size: 16px;
    color: white;
    position: fixed;
    top: 269px;
    left: 280px;
  }
  .tarjetas .tarjetaFrente .iconoTarjeta {
    width: 7%;
    position: fixed;
    top: 150px;
    left: 40px;
  }
  .tarjetas .tarjetaReverso {
    position: fixed;
    width: 26%;
    top: 332px;
    left: 70px;
    /*----------TARJETA REVERSO TEXTOS----------*/
  }
  .tarjetas .tarjetaReverso .cvcTarjeta {
    font-size: 16px;
    color: white;
    position: fixed;
    top: 401px;
    left: 298px;
    letter-spacing: 2px;
  }
  /*----------"FORMULARIO COMPLETADO"----------*/
  .completo {
    margin-top: 220px;
    margin-left: 170px;
  }
  /*----------FORMULARIO INCOMPLETO----------*/
  .faltaAno,
.faltaCvc,
.faltaMes,
.faltaNumero,
.faltaNombre {
    font-size: 11px;
    font-weight: bold;
    color: red;
    padding: 0%;
    margin: 0%;
    position: fixed;
  }
}
/*----------------------------------------------------------------- PHONE*/
@media (max-width: 426px) {
  /* ------- FONDO IZQUIERDO ------*/
  html body {
    font-family: "Noto Sans", sans-serif;
    display: flex;
    background-image: url(/images/fondo2.png);
    height: 100vmax;
  }
  html body .fondo {
    background-color: rgba(255, 255, 255, 0.247);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    box-shadow: 17px 18px 60px -35px rgb(0, 0, 0);
    width: 85%;
    height: 550px;
    margin: 40px auto;
    border-radius: 20px;
  }
  /*----------FORMULARIO----------*/
  .formularioCompleto {
    padding: 0 50px;
    margin: 280px 0;
  }
  /*----------TARJETA FRENTE/ REVERSO----------*/
  .tarjetas {
    position: fixed;
    /*----------TARJETA FRENTE----------*/
    /*----------TARJETA REVERSO----------*/
  }
  .tarjetas img {
    box-shadow: 17px 18px 60px -35px rgb(0, 0, 0);
    width: 220px;
  }
  .tarjetas .tarjetaFrente {
    position: fixed;
    width: 26%;
    top: 160px;
    left: 115px;
    /*----------TARJETA FRENTE TEXTOS----------*/
    /*----------TARJETA FRENTE ICONO----------*/
  }
  .tarjetas .tarjetaFrente h1 {
    font-size: 13px;
    color: white;
    position: fixed;
    top: 225px;
    left: 125px;
    letter-spacing: 2px;
  }
  .tarjetas .tarjetaFrente span {
    font-size: 14px;
    color: white;
    position: fixed;
    top: 250px;
    left: 125px;
  }
  .tarjetas .tarjetaFrente .mesDeTarjeta {
    font-size: 14px;
    color: white;
    position: fixed;
    top: 250px;
    left: 265px;
  }
  .tarjetas .tarjetaFrente .anoDeTarjeta {
    font-size: 14px;
    color: white;
    position: fixed;
    top: 250px;
    left: 298px;
  }
  .tarjetas .tarjetaFrente .linea {
    font-size: 14px;
    color: white;
    position: fixed;
    top: 249px;
    left: 287px;
  }
  .tarjetas .tarjetaFrente .iconoTarjeta {
    width: 7%;
    position: fixed;
    top: 170px;
    left: 125px;
  }
  .tarjetas .tarjetaReverso {
    position: fixed;
    width: 26%;
    top: 60px;
    left: 40px;
    /*----------TARJETA REVERSO TEXTOS----------*/
  }
  .tarjetas .tarjetaReverso .cvcTarjeta {
    font-size: 14px;
    color: white;
    position: fixed;
    top: 110px;
    left: 200px;
    letter-spacing: 2px;
  }
  /*----------FORMULARIO INCOMPLETO----------*/
  .faltaAno,
.faltaCvc,
.faltaMes,
.faltaNumero,
.faltaNombre {
    font-size: 13px;
    font-weight: bold;
    color: red;
    padding: 0%;
    margin: 0%;
    position: fixed;
  }
  /*----------OCULTA FORMULARIO----------*/
  .oculto {
    display: none;
    position: fixed;
    top: 20%;
  }
  .oculto h2 {
    color: white;
  }
}/*# sourceMappingURL=style.css.map */