$texto: 18px;
$izquierda: 380px;
$alto: 190px;
$alturaFecha: 295px;
$weight-font: 600;

/*--- TABLET*/
$textoTablet: 16px;
$alturaTablet : 270px;

/*--- PHONE*/
$textoPhone: 14px;
$alturaPhone: 250px;
$altoPhone: 130px ;
$izquierdaPhone: 115px;

$espacioTexto: 2px;
$posicion: fixed;
$color: white;
$sombra: 17px 18px 60px -35px rgb(0, 0, 0);
$fondo: rgb(245, 245, 245);

@mixin formularioIncompleto {
    font-weight: bold;
    color: red;
    padding: 0%;
    margin: 0%;
    position: $posicion;
}

@mixin colorPosicion {
    color: $color;
    position: $posicion;
}


/*----------------------------------------------------------------- DESKTOP*/


html body {
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    background-image: url(/images/fonso1.svg);
    background-size:auto;
    


    .fondo {
        background-color: rgba(255, 255, 255, 0.288);
        backdrop-filter: blur(15px);
        box-shadow: $sombra;
        width: 920px;
        height: 500px;
        margin: 135px auto;
        border-radius: 20px;        
    }

}

/*----------FORMULARIO----------*/
.formularioCompleto {
    position: $posicion;
    margin: 14% 51%;

    label {
        font-weight: $weight-font;
        font-size: $texto - 4px;
        color: $color;
    }

    input,
    .mes,
    .ano {
        background-color: rgba(255, 255, 255, 0.178);
        font-weight: $weight-font;
        color: $color;
    }

    input::placeholder {
        color: $color;
    }

    .espacioformulario {
        margin: 15px 0 5px 0;
    }

    .boton {
        margin: 10px 0;

        buttom {
            background-color:#1c1c1c;
            border: none;
        }

    }

}

/*----------TARJETA FRENTE/ REVERSO----------*/
.tarjetas {
    position: $posicion;

    img {
        box-shadow: $sombra;
        width: 332px;
    }


    /*----------TARJETA FRENTE----------*/
    .tarjetaFrente {
        position: $posicion;
        width: 26%;
        top: $alto ;
        left: $izquierda ;


        /*----------TARJETA FRENTE TEXTOS----------*/

        h1 {
            font-weight: $weight-font;
            font-size: $texto + 2px;
            @include colorPosicion;
            top: $alto + 140px;
            left: $izquierda + 20px;
            letter-spacing: $espacioTexto;
        }

        span {
            font-weight: $weight-font;
            font-size: $texto;
            @include colorPosicion;
            top: $alturaFecha;
            left: $izquierda + 20px;

        }

        .mesDeTarjeta {
            font-weight: $weight-font;
            font-size: $texto;
            @include colorPosicion;
            top: $alturaFecha;
            left: $izquierda + 249px;
        }

        .anoDeTarjeta {
            font-weight: $weight-font;
            font-size: $texto;
            @include colorPosicion;
            top: $alturaFecha;
            left: $izquierda + 285px;
        }

        .linea {
            font-weight: $weight-font;
            font-size: $texto;
            @include colorPosicion;
            top: $alturaFecha;
            left: $izquierda + 275px;
        }

        /*----------TARJETA FRENTE ICONO----------*/
        .iconoTarjeta {
            width: 3%;
            position: $posicion;
            top: $alto + 15px;
            left: $izquierda + 20px;
        }

    }


    /*----------TARJETA REVERSO----------*/
    .tarjetaReverso {
        position: $posicion;
        width: 26%;
        top: $alto + 200px;
        left: $izquierda + 50px;

        /*----------TARJETA REVERSO TEXTOS----------*/
        .cvcTarjeta {
            font-weight: $weight-font;
            font-size: $texto;
            @include colorPosicion;
            top: $alto + 276px;
            left: $izquierda + 305px;
            letter-spacing: $espacioTexto;
        }

    }


}

/*----------OCULTA FORMULARIO----------*/
.oculto {
    display: none;
    position: $posicion;
    top: 33%;

    h2{
        color:$color
    }
}

/*----------FORMULARIO INCOMPLETO----------*/

.faltaAno,
.faltaCvc,
.faltaMes,
.faltaNumero,
.faltaNombre {
    font-size: $texto - 5px;
    @include formularioIncompleto();
}


/*----------------------------------------------------------------- TABLET*/
@media (min-width: 427px) and (max-width: 768px) {

    @import "tablet";


}


/*----------------------------------------------------------------- PHONE*/
@media (max-width: 426px) {

    @import "phone";

}