$texto: 18px;
$altura : 245px;
$weight-font : 600;

/*--- TABLET*/
$textoTablet: $texto - 2px;
$alturaTablet : $altura +25px;

/*--- PHONE*/
$textoPhone: $texto - 4px;
$alturaPhone : $altura - 15px;

$espacioTexto: 2px;
$posicion: fixed;
$color: white;
$sombra: 17px 18px 60px -35px rgb(0, 0, 0);
$fondo: rgb(245, 245, 245);

@mixin formularioIncompleto {
    font-weight: bold;
    color: red;
    padding: 0%;
    margin: 0%;
    position: $posicion;
}

@mixin colorPosicion {
    color: $color;
    position: $posicion;
}


/*----------------------------------------------------------------- DESKTOP*/


html body {
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    background-image: url(/images/fondo2.png);
    background-size: cover;
    


    .fondo {
        background-color: rgba(255, 255, 255, 0.247);
        backdrop-filter: blur(5px);
        box-shadow: $sombra;
        width: 920px;
        height: 500px;
        margin: 55px auto;
        border-radius: 20px;
    }

}

/*----------FORMULARIO----------*/
.formularioCompleto {
    position: $posicion;
    margin: 11% 55%;

    label {
        font-weight: $weight-font;
        font-size: $texto - 2px;
        color: $color;
    }

    input,
    .mes,
    .ano {
        background-color: rgba(255, 255, 255, 0.178);
        font-weight: $weight-font;
        color: $color;
    }

    input::placeholder {
        color: $color;
    }

    .espacioformulario {
        margin: 15px 0 5px 0;
    }

    .boton {
        margin: 10px 0;

        buttom {
            background-color:#1c1c1c;
            border: none;
        }

    }

}

/*----------TARJETA FRENTE/ REVERSO----------*/
.tarjetas {
    position: $posicion;

    img {
        box-shadow: $sombra;
        width: 332px;
    }


    /*----------TARJETA FRENTE----------*/
    .tarjetaFrente {
        position: $posicion;
        width: 26%;
        top: 110px;
        left: 255px ;


        /*----------TARJETA FRENTE TEXTOS----------*/

        h1 {
            font-weight: $weight-font;
            font-size: $texto + 2px;
            @include colorPosicion;
            top: 210px;
            left: 275px;
            letter-spacing: $espacioTexto;
        }

        span {
            font-weight: $weight-font;
            font-size: $texto;
            @include colorPosicion;
            top: $altura;
            left: 275px;

        }

        .mesDeTarjeta {
            font-weight: $weight-font;
            font-size: $texto;
            @include colorPosicion;
            top: $altura;
            left: 504px;
        }

        .anoDeTarjeta {
            font-weight: $weight-font;
            font-size: $texto;
            @include colorPosicion;
            top: $altura;
            left:  540px;
        }

        .linea {
            font-weight: $weight-font;
            font-size: $texto;
            @include colorPosicion;
            top: $altura - 2px;
            left: 530px;
        }

        /*----------TARJETA FRENTE ICONO----------*/
        .iconoTarjeta {
            width: 3%;
            position: $posicion;
            top: 125px;
            left: 275px;
        }

    }


    /*----------TARJETA REVERSO----------*/
    .tarjetaReverso {
        position: $posicion;
        width: 26%;
        top: 310px;
        left: 305px;

        /*----------TARJETA REVERSO TEXTOS----------*/
        .cvcTarjeta {
            font-weight: $weight-font;
            font-size: $texto;
            @include colorPosicion;
            top: 386px;
            left: 560px;
            letter-spacing: $espacioTexto;
        }

    }


}

/*----------OCULTA FORMULARIO----------*/
.oculto {
    display: none;
    position: $posicion;
    top: 33%;

    h2{
        color:$color
    }
}

/*----------FORMULARIO INCOMPLETO----------*/

.faltaAno,
.faltaCvc,
.faltaMes,
.faltaNumero,
.faltaNombre {
    font-size: $texto - 5px;
    @include formularioIncompleto();
}


/*----------------------------------------------------------------- TABLET*/
@media (min-width: 427px) and (max-width: 768px) {


    @import "tablet";


}


/*----------------------------------------------------------------- PHONE*/
@media (max-width: 426px) {

    @import "phone";

}